<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<script>
  function toggle(id){
    $("#monthEvents > table").each(
      function(){
        $(this).hide();
      }
    );
    $(id).show();
  }
</script>
<style>
  .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .bPrimary{
    background-color: #8C1D40;
  }

  .bGray{
    background-color: #bbb;
  }

  .smCalendar{
    margin: auto;
    width: auto;
    border: none;
  }

  .smCalendarTitle{
    display: inline-block;
    width: 170px;
  }

  .smCalendar td{
    height: auto;
    padding: 0px;
    border: none;
  }

  .monthEntry{
    margin: auto;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div id="miniCalendar" class="col-md-6">
      <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date, events: @calendar_events_all, monthNum: 0}%>
    </div>
    <div id="monthEvents" class="col-md-6">
      <%= render partial: "layouts/calendarList", locals: {baseDate: (Time.now - 10.hour).to_date, events: @calendar_events_all}%>
    </div>
  </div>
</div>
